<%- include('_nav', {page: 'reservasi'}) %>

  <!-- content -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image">
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="<%= reserve.image %>" />
            </a>
          </div>
          
          <div class="ps-lg-3">
            <h4 class="title text-dark">
                <%= reserve.name %>
            </h4>
  
            <div class="mb-3">
              <span class="text-primary"><%= reserve.Cemetery.name %></span>
            </div>
  
            <div class="row">
              <dt class="col-5">Harga:</dt>
              <dd class="col-7 text-end"><%= getRupiah(reserve.price) %></dd>
  
              <dt class="col-5">Biaya Perawatan:</dt>
              <dd class="col-7 text-end">Rp. 100.000.00/bulan</dd>

              <hr/>

              <dt class="col-5 h5">Total:</dt>
              <dd class="col-7 text-end text-primary h5"><%= getRupiah(reserve.totalPrice) %></dd>
            </div>
          </div>

        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
                Lengkapi Data Di Bawah Ini
            </h4>
            <br>
            <form method="post">
                <!-- Name input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label font-weight-bold" for="name">Nama Almarhum/ah:</label>
                    <input type="text" name="name" id="name" class="form-control" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label font-weight-bold" for="birthDate">Tanggal Lahir:</label>
                    <input type="date" name="birthDate" id="birthDate" class="form-control" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label font-weight-bold" for="deathDate">Tanggal Kematian:</label>
                    <input type="date" name="deathDate" id="deathDate" class="form-control" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label font-weight-bold" for="birthPlace">Tempat Kelahiran:</label>
                    <input type="text" name="birthPlace" id="birthPlace" class="form-control" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label font-weight-bold" for="reservationDate">Tanggal Penguburan:</label>
                    <input type="date" name="reservationDate" id="reservationDate" class="form-control" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label font-weight-bold" for="additionalInfo">Informasi Tambahan:</label>
                    <textarea class="form-control" name="additionalInfo" id="additionalInfo"></textarea>
                </div>

                <hr/>
    
                <a href="#" class="btn btn-primary shadow-0">Reservasi</a>
            </form>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->

<%- include('_footer') %>